*{
  color: #cfa115;
  text-align: center;
  letter-spacing: 4px;
}

.site{
}

.btn{
	background-color: #cfa115;
	color: #fff;
	border: none;
	padding: 20px;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default {
	color: #fff;
	background-color: #e6e6e6;
	background-color: #cfa115;
	border: none;
	opacity: 0.7;
}

.music{
cursor: pointer;
}

.music img{
}

.music-wrap div:hover{
	opacity: 0.7;
}

.junai{background-image: url(/img/junai.jpg); }
.twitter{
background-image: url(/img/twitter.jpg);
width: 100%;
height: 182px;
cursor: pointer;
background-repeat: no-repeat;
background-position: 50%;
background-color: #f5f4ef;
}

.about_text{
position: absolute;
padding-top: 440px;
right: 74px;
width: 400px;
}

.what_music_text{
	color: #fff;
	position: absolute;
	padding-top: 200px;
	padding-left: 184px;
}

.hatena-bookmark-button-frame{
	margin-left: 86px;
}

.on-img{
	color: #fff;
}

.about-marina img{
  width: 200px;
}

.release img{
  width: 200px;
}

a{
  cursor: pointer;
}

.finish{
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

#saitomarina{
	padding-left: 50px;
	position: absolute;
	top: 88px;
	left: 98px;
	transform: rotate(-10deg);
	-moz-transform: rotate(-10deg);
	-webkit-transform: rotate(-10deg);
}

.dance{
	font-family: 'Dancing Script';
}

.yugo{
	font-family: "游ゴシック","Yu Gothic";font-weight: lighter;
}

.white{
	color: #fff;
}
