*{
  color: #cfa115;
}

.musics img {
  width:200px;
}

.on-img{
	color: #fff;
}

.about-marina img{
  width: 200px;
}

.release img{
  width: 200px;
}

a{
  cursor: pointer;
}

.finish{
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

#saitomarina{
	position: absolute;
	top: 2px;
	left: 8px;
}
