<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, user-scalable=0, initial-scale=1.0, maximum-scale=1.0">
        <link rel="shortcut icon" href="/images/favicon.ico">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/sp/sp.css">
        <meta name="keywords" content="さいとうまりな,かわいい,ハッカソン" xml:lang="ja" lang="ja" />
        <meta name="description" content="さいとうまりなの公式ホームページです。" />
        <meta name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=yes" />
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <!--OGP-->
        <meta property="og:title" content="さいとうまりな公式HP">
        <meta property="og:type" content="website">
        <meta property="og:description" content="さいとうまりな公式HPです。">
        <meta property="og:url" content="http://saitoumarina.com">
        <meta property="og:image" content="https://lh3.googleusercontent.com/proxy/RPCwNaGUdtZAZGkP9B9yjk97s6ErlscFxPftLCB5qwe36aYxsYmCi1BXn6MINKmPiwGDAGYMwsDqtti0gMUgXwxUPxrDwBCsZSnSNkdMg9IBwANV7SYRH7uQgK4bhJpXqg=w426-h255-p">
        <meta property="mixi:title" content="さいとうまりな公式HP" />
        <!--end OGP-->
    </head>
    <body>
        <div class="site">

          {{ content }}

          <div class="footer">
          <div class="contact"> </div>
          </div>
        </div>
    <script type="text/javascript" src="/js/audio.js"></script>
    </body>
</html>
